<div class="container px-0">
  <p>{{ login_route }}</p>
  <button class="btn btn-primary btn-admin">
    <a href={{ login_route ? path(login_route) : "#" }}>login</a>
  </button>
  <p>registration links</p>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-primary btn-admin">
      <a href={{ admin_register_route ? path(admin_register_route) : "#" }}>admin</a>
    </button>
    <button class="btn btn-primary btn-admin">
      <a href={{ non_admin_register_route ? path(non_admin_register_route) : "#" }}>general</a>
    </button>
  </div>
</div>